* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

a:visited {
  color: inherit;
}

.container {
  width: 900px;
  height: 400px;
  margin: 20px auto;
  position: relative;
}

.container img {
  position: absolute;
  left: 250px;
  width: 650px;
  height: auto;
}

.else {
  position: absolute;
  top: 600px;
}

canvas {
  background: rgb(110, 132, 105);
  display: block;
  position: absolute;
  left: 292px;
  top:98px;
  border: 2px solid #222;
  border-radius: 10px;

}

canvas:hover {
  cursor: pointer;
}

canvas:active {
  cursor: move;
}


#slider {
  width: 420px;
  cursor: pointer;
  border: 2px solid teal;
  background-color: #ccc;

}

#custom-handle {
  width: 4em;
  height: 1.4em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.4em;
  font-size: 15px;
  background: teal;
  border: 2px solid teal;
  color: white;
  cursor: ew-resize;
  margin-left: -2em;
  text-transform: uppercase;
  font-family: sans-serif;
}

.ui-slider-handle {
}

.plane-adjust {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.plane-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 630px;
  background-color: #070707;
  top: 500px;
  color: rgb(190, 210, 204);
  padding: 10px;
  left: 250px;
}

.plane-controls a, .zoom-option, .instructions a {
  text-decoration: none;
  background-color: rgb(60, 80, 130); /*blue*/
  font-size: 15px;
  color: white;
  padding: 4px 5px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

.plane-controls a:hover, .zoom-option:hover {
  background-color: rgb(40, 60, 110);
}


/*.plane-controls a:hover {
  background-color: #555;
}*/

.plane-controls a:active {
  font-size: 16px;
  padding: 4px 3px;
}


.window-values {

}

.window-values input {
  width: 40px;
}


.plane-adjust-buttons {

}

#window-modal label {
  display: block;
  font-weight: bold;
  margin-bottom: 3px;
}

#window-modal input {
  display: block;
  border: 1px solid rgb(190, 210, 204);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 5px;
}

#window-modal {
  width: auto;
  margin: 0 auto;
}

.ui-tooltip-content {
    font-size:11px;
}

.ui-tooltip {
   -webkit-box-shadow: 0 0 0;
   box-shadow: 0 0 0;
}


.animation-group {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 630px;
  background-color: #070707;
  top: 548px;
  left: 250px;
  padding: 10px 10px;
}

.c-data {
  background-color: white;
  width: 60px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid teal;
  color: teal;
}


.equations {
  position: absolute;
  width: 240px;
  height: 590px;
  background-color: rgb(190, 210, 204);
  /*border: 3px solid #555;*/
  padding: 0 5px;
}

.hide-equations {
  display: none;
}

.MathJax_Display {
  text-align: left !important;
  margin: 0 !important;
  display: inline !important;
}


.expression {
  background-color: white;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 175px;
}

.equation {
  padding: 20px 5px;
  border-bottom: 2px solid #aaa;
  /*border-radius: 5px;*/
  margin: 5px;
}

.color-row {
  margin: 10px 0;
}

.math-functions-row {
  margin-bottom: 10px;
}

.pretty {
  margin-top: 10px;
}

a.y-equals-hider {
  background-color: darkgoldenrod;
}

a.y-equals-hider:hover {
  background-color: rgb(150, 120, 10);
}



#animate-graph {
  background: teal;
}

#animate-graph:hover {
  background: rgb(0, 100, 100);
}


.y-equals, .expression {
  font-style: italic;
}

.instructions {
  margin: 10px auto;
  width: 223px;
}

.instructions a {
  background-color: red;
  color: white;
}

#hidden-expression-1, #hidden-expression-2 {
  display: none;
}

#expression1, #expression2 {
  width: 150px;
  background-color: white;
  border-radius: 5px;
}

.contact-info {
  margin-top: 20px;
}

.contact-info a {
  display: block;
  margin: 10px 5px;
}

.contact-info a:hover {
  font-weight: bold;
}


.contact-info i {
  display: inline-block;;
  width: 24px;
  font-size: 24px;
  margin-right: 5px;
  text-align: right;
}

.contact-info p {
  text-align: center;
}


#instructions-modal {
  width: 700px;
}

#instructions-modal p {
  padding: 5px;
}

.solution-checkbox {
  margin-left: 10px;
  background-color: #eee;
  padding: 0 4px;
  border-radius: 5px;
}

#instructions-modal span {
  font-weight: bold;
  vertical-align: top;
}

.y-equals-description {
  background-color: darkgoldenrod;
}

.window-description {
  background-color: rgb(60, 80, 130);
}

.animate-description {
  background-color: teal;
}

.y-equals-description, .animate-description, .window-description {
  color: white;
  padding: 3px;
  border-radius: 5px;
}
