* {
  padding: 0;
  margin: 0;
}


.container {
  width: 650px;
  height: 400px;
  margin: 0 auto;
  position: relative;
}

.container img {
  position: absolute;
  width: 650px;
  height: auto;
}

.else {
  position: absolute;
  top: 600px;
}

canvas {
  background: rgb(110, 132, 105);
  display: block;
  position: absolute;
  left: 42px;
  top:98px;
  border: 2px solid #222;
  border-radius: 10px;

}

canvas:hover {
  cursor: pointer;
}

canvas:active {
  cursor: move;
}


div, input, button {
  margin-left: 5px;
}

#slider {
  width: 400px;
}

#custom-handle {
  width: 3em;
  height: 1.4em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.4em;
  font-size: 12px;
}

.plane-adjust {
  cursor: pointer;
}
