* {
  padding: 0;
  margin: 0;
}

canvas {
  background: #eee;
  display: block;
  margin: 50px auto;
}

canvas:hover {
  cursor: pointer;
}

canvas:active {
  cursor: move;
}


div, input, button {
  margin-left: 5px;
}

#slider {
  width: 400px;
}

#custom-handle {
  width: 3em;
  height: 1.4em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.4em;
  font-size: 12px;
}
